<ion-header>
  <ion-toolbar>
    <ion-title>
      Produits/Services
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produits/Services</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>

    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2><ion-badge color="primary">Validé</ion-badge></h2>
        <h3><strong>Dynamics Services</strong></h3>
        <p>Entreprise de prestation de services</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2><ion-badge color="danger">Rejété</ion-badge></h2>
        <h3><strong>Tesla</strong></h3>
        <p>Entreprise de manufacturation</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2><ion-badge color="light">En attente</ion-badge></h2>
        <h3><strong>Tesla</strong></h3>
        <p>Entreprise de manufacturation</p>
      </ion-label>
    </ion-item>

  </ion-list>


</ion-content>

