<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acceuil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-activatable ripple-parent" routerLink="add-company">
    <ion-card-header>
      <ion-card-title>Ajouter une entreprise</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
  <ion-card class="ion-activatable ripple-parent" routerLink="add-offer">
    <ion-card-header>
      <ion-card-title>Ajouter une offre</ion-card-title>
    </ion-card-header>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>

</ion-content>
